footer{

    /* .logo{
        width: 200px;
        height: 100px;
    } */ 

    .logodeabajo{
        position: relative;
        top: 65px;
    }  
    
    .footerredes{
        text-align: end;
        position: relative;
        left: -10px;
    }

    
.txfinal{
    width: 100%;
    
    text-align: center;
}

footer{
    width: 100%;
}

}