header{
    width: 100%;
    padding: 10px 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu{
        font-family: "SemiBold";
        color: #470869;
        font-size: auto;
        padding: 5px;
        font-family: "SemiBold" 
    }

    &:hover{background-image: linear-gradient(to left, #ac91bb, #fff);}

    /* .logo{
        width: 200px;
        height: 100px; 
    } */
}