@media screen and (max-width:767px) {

    .headerredes{
        margin: 5px;
    }

    .colorlogofondo{
        margin: 5px;
    }
    
    .textodeservicio1 {
        display: flex;
        flex-wrap: wrap;
    }

    .imgservicio {
        vertical-align: middle;
        width: 100%;
    }

    .imginicio {
        margin: 5px;
    }

    .informacion {
        display: flex;
        flex-direction: row;
        font-size: 70%;
        flex-wrap: wrap;
    }

    .logodeabajo {
        text-align: start;
        position: relative;
        top: 10px;
    }

    .imagencliente {
        width: 80%;
        height: 80%;
    }

    .textodeiniciopadre {
        display: flex;
        flex-wrap: wrap;
    }

    .textodevideoeimagen {
        display: flex;
        flex-wrap: wrap;
    }

    .imgser{
        width: 100%;}
    
    .imgproyecto{
        margin: 5px;
    }
}

$colordeletra: (text: white, text2: black); 

$color-redes: (facebook: #fff, instagram: #fff, linkedin:#fff); 

.btnenviar{
    background:#f8306F;
    border-radius: 10px;
}

