* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SemiBold";
}

@import "header";
@import "footer";
@import "variables";
@import "tipografia";
@import "mixin";

.colorlogofondo{
    border-radius: 10px;
    }

.logo{
    @extend .colorlogofondo;
    @include sizes (200px, 100px);
}

@each $color, $valor in $color-redes{
    .--#{$color}{
        background-color: $valor;
        border-radius: 10px;
    }
}

.pais {
    margin: 10px;
}

ul {
    list-style-type: none;
}

body {
    background-color: #fff;
}

main {
    background-color: #470869;
    border-radius: 10px;

    .banner img {
        width: 100%;
        margin-bottom: 20px;
        border-radius: 10px;
    }

    h1 {
        text-align: center;
        color: #fff;
    }
}

h4 h3 {
    background-color: #470869;
}

.center h1 {
    text-decoration: line-through;
}
/* inicio index */
.textodeiniciopadre {
    color: map-get( $colordeletra, text );
    background-color: #470869;
    width: 100%;
    height: auto;
    display: flex;
    padding: 20px;
    display: grid;
    grid-gap: 20px 20px;
    border-radius: 10px;
    display: flex;

    .textodeiniciohijo{
        display: flex;
        justify-content: center;
        border: 2px solid #EEB868;
        border-radius: 10px;
        margin: 5px;
    }
}

.imginicio{
    margin: 25px;
}
.headerredes div {
    display: flex;
    justify-content: end;
}

a {
    text-decoration: none;
}

.textodecolor {
    color: #fff;
}

.textomain {
    color: #fff;
}

.imagencliente {
    display: block;
    margin: 0px auto;
}

.formu {
    text-align: center;
}

.textodeinicio1 {
    text-align: center;
}

.contac {
    margin: 30px;
}
/* fin de index */

/* inicio de Servico */

.tablas {
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid #EEB868;
    border-radius: 10px;
    text-align: left;
    margin: 20px;
}

.tttabla {
    text-align: center;
}

.tablas {
    font-family: "Regular";
}

.imgservicio {
    width: 100%
}

.textservi {
    display: flex;
    justify-content: center;
}

.imgser{ 
    @include sizes (100%, 100%);
}
/* fin de Servico */

/* clientes incio */

.textocliente {
    text-align: center;
}

.imgclientes {
    margin-bottom: 10px;
    background-color: #470869;
}
/* clientes fin*/

/* inicio de proyecto */
.proyecto {
    text-align: center;
}

.imgproyectos{
    display: flex;
    justify-content: center;
    @include sizes (50%, 50%);
}

.proyectofotos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.proyectotex1 {
    margin: 5px;
    padding: 5px;
    color: #fff;
    text-align: center;
}

.imgproyecto{
    margin: 25px;
}

.textodeimg{
    color: #470869;
}
/* fin de proyecto */